<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'users_app/css/styles.css' %}" />
    <title>Edit Profile</title>
</head>
<div class="navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">AirBnb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Messages
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/add">Host/Create listing</a>
            </li>
            {% if request.session.user_id == None %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:logme' %}">Log In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:index' %}">Sign Up</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:view' request.session.user_id %}">Profile</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
<h3> {{user_edit.first_name}}</h3>
    
        <form action="{% url 'users:update' user_edit.id %}" method='POST' enctype="multipart/form-data">
            {% csrf_token %} 
                <div class="form-group">
                    <label>First Name:</label>
                    <input class="first_name" type='text' name='first_name' value ='{{user_edit.first_name}}'>
                </div>
                <div class="form-group">
                    <label>LastName:</label>
                    <input class="last_name" type='text' name='last_name' value ='{{user_edit.last_name}}'>
                </div>
                <div class="form-group">
                    <label>Birthday:</label>
                    <input class="birthday" type="date" name='birthday'>
                </div>
                <div class="form-group">
                    <label>Email:</label>
                    <input class="email" type='text' name='email' value ='{{user_edit.email}}'>
                </div>
                <div class="form-group">
                    <label>Phone Number:</label>
                    <input class="phone_number" type='text' name='phone_number' value ='{{user_edit.phone_number}}'>
                </div>
                <div class="form-group">
                    <label>gender</label>
                    <select name="gender">
                                <option value="F">Select one</option>
                                <option value="F">Female</option>
                                <option value="M">Male</option>
                            </select>
                </div>
                <div class="form-group">
                    <label>Preferred Language:</label>
                    <select name="preferred_language">
                                <option value="EN">Select one</option>
                                <option value="EN">English</option>
                                <option value="SP">Spanish</option>
                                <option value="FR">French</option>
                                <option value="SW">Swahili</option>
                        </select>
                </div>
                <div class="form-group">
                    <label>Preferred Currency:</label>
                    <select name="preferred_currency">
                                <option value="USD">Select one</option>
                                <option value="USD">USD</option>
                                <option value="AUD">AUD</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                        </select>
                </div>
                <div class="form-group">
                    Location: <input class="location" type='text' name='location' value ='{{user_edit.location}}'>
                </div>
                <div class="form-group">
                    Describe Yourself: <textarea name="user_description" id="description"></textarea>
                </div>
                <input type="file" name="profile_pic" accept="image/*">
                <div class="form-group">
                    <input class="submit" type='submit' value='Submit Changes!'>
                </div>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.error }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                </ul>
                {% endif %}
        </form>
    
    </body>
</html>


