<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <title>Edit</title>
</head>
<h3> {{user_edit.first_name}}</h3>
<div class="form">
    <form action="{% url 'users:update' user_edit.id %}" method='POST'>
        {% csrf_token %} 
        <div class="form-group">
             First Name:<input class="first_name" type='text' name='first_name'>
        </div>
        <div class="form-group">
            Last Name:<input class="last_name" type='text' name='last_name'>
        </div>
        <div class="form-group">
            Birthday: <input class="birthday" type="date" name='birthday'>
        </div>
        <div class="form-group">
            Email:<input class="email" type='text' name='email'>
        </div>
        <div class="form-group">
            Password:<input class="pw" type='password' name='password'>
        </div>
        <div class="form-group">
            Confirm Password:<input class="cpw" type='password' name='confirm_password'>
        </div>
        <div class="form-group">
            Phone Number:<input class="phone_number" type='text' name='phone_number'>
        </div>
        <div class="form-group">
            Gender:
            <select name="gender">
                        <option value="F">Select one</option>
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                    </select>
        </div>
        <div class="form-group">
            Preferred Language:
            <select name="preferred_language">
                        <option value="EN">Select one</option>
                        <option value="EN">English</option>
                        <option value="SP">Spanish</option>
                        <option value="FR">French</option>
                        <option value="SW">Swahili</option>
                </select>
        </div>
        <div class="form-group">
            Preferred Currency:
            <select name="preferred_currency">
                        <option value="USD">Select one</option>
                        <option value="USD">USD</option>
                        <option value="AUD">AUD</option>
                        <option value="EUR">EUR</option>
                        <option value="GBP">GBP</option>
                </select>
        </div>
        <div class="form-group">
            Location: <input class="location" type='text' name='location'>
        </div>
        <div class="form-group">
            Describe Yourself: <textarea name="user_description" id="description"></textarea>
        </div>
        <div class="form-group">
            <input class="submit" type='submit' value='Submit Changes!'>
        </div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.error }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
    </form>
</div>
        <form action="{% url 'users:view' user_edit.id %}">
            <div class="form-group">
                {% csrf_token %}
                <input type='submit' value='View Profile'>
            </div>
        </form>

        <form action="{% url 'users:newhome' %}">
            <div class="form-group">
                {% csrf_token %}
                <input type='submit' value='Go Home'>
            </div>
        </form>
