<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Airbnb, Inc</title>
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    <div class="header">
        <form action="{% url 'users:index' %}">
            {% csrf_token %}
            <input type='submit' value='Sign Up'>
        </form>
        <form action="{% url 'users:index' %}">
            {% csrf_token %}
            <input type='submit' value='Log In'>
        </form>
    </div>
    <h1>Airbnb</h1>
    <p>Book unique homes and experience a city like a local.</p>
    <input type="text" value="search">
    <input type='submit' value='Search'>
</body>
</html>