<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous"> {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'property_details/css/styles.css' %}" />
    <title>Listing</title>
</head>
<body>
    <img src="/property/media/{{requested_listing.photo1}}" alt="Listing Photo">
    <a href="/property">Home</a>
    <p>Listing Type: {{ requested_listing.listing_type}}</p>
    <p>Property Type: {{ requested_listing.property_type}}</p>
    <p>Room Type: {{ requested_listing.room_type}}</p>
    {% if requested_listing.ded_space == 1 %}
    <p>Is this a dedicated space for guests: Yes </p>
    {% else %}
    <p>Is this a dedicated space for guests: No </p>
    {% endif %}
    <p>Number of beds: {{ requested_listing.beds}}</p>
    <p>Type of bed: {{ requested_listing.bedtype}}</p>
    <p>Common space: {{requested_listing.com_space}}</p>
    <p>Number of bathrooms: {{ requested_listing.bathrooms}}</p>
    <p>Address:</p>
    <p>{{ requested_listing.street_one}}</p>
    <p>{{ requested_listing.street_two}}</p>
    <p>{{ requested_listing.city}}, {{ requested_listing.state}}, {{ requested_listing.zip_code}}</p>
    <p>{{ requested_listing.Country}}</p>
    {% if photo1 != '' %}
    
    {% endif %}
    <p>Amenities:</p>
    <p>{{requested_listing.normal_amenities}}</p>
    <p>Safety Amenities:</p>
    <p>{{requested_listing.safety_amenities}}</p>
    <p>Bonus Space:</p>
    <p>{{requested_listing.bonus_spaces}}</p>
</body>
</html>