/* .center_div{
    margin: 0 auto;
    margin-top: 50px;
}
.center_div h1,h3{
    text-align: center;
}
.center_div form{
    margin: auto 100px;
    margin-top: 50px;
} */


.center_div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.form{
    margin: 200px;
}
#block{
    display: block;
}
.no_margin{
    margin: 0px;
}
.my_cards{
    display: inline-block;
}